body{
    margin: 0;
    background-size: cover;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr, 2fr;
}

header{
    background: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin: 0;
    color: white;
}

main{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#imagen{
    width: 400px;
}

#palabra_a_adivinar{
    height: 3em;
    text-align: center;
}

#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}

#letras{
    margin-top: 30px;
    display: flex;
    /* ajuste de linea "wrap" */
    flex-wrap: wrap;
    gap: 9px;
}

#letras button{
    width: 28px;
    padding: 6px 0;
    text-align: center;
}

